# this is a SystemD control file

# https://blog.miguelgrinberg.com/post/running-a-flask-application-as-a-service-with-systemd
# sudo systemctl enable /home/pi/absurda/RasPi/CamService.service
# sudo systemctl daemon-reload


[Unit]
Description=CamService
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/absurda/RasPi
ExecStart=/usr/bin/python3 CamService.py
Restart=always
RestartSec=

[Install]
WantedBy=multi-user.target
