{% extends "base.html" %}
{% block title %}report {{ current_state.upper() }}{% endblock %}
{% block content %}
<meta http-equiv="cache-control" content="no-cache" />
<meta name="theme-color" content="#efefef" />

<body style="text-align:left; font:20px Courier New, serif; color:black; background-color: white;"></body>

<h3> your data </h3>

<pre>
{% for key, value in pre.items() %}
{{key}}:{{value}}{% endfor %}
</pre>

<img alt="your pic" width="320" height="200" src="data:image/jpeg;base64, {{ pic }}" />

<pre>
{{ post }}
</pre>

</body>
{% endblock %}
